<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <div>{{.Message}}</div>
        <form method="POST" action="/user/create">
            <div>
                Username <input type="text" name="username" />
            </div>
            <div>
                Password <input type="password" name="password" />
            </div>
            <div>
                Again <input type="password" name="again" />
            </div>
            <div>
                <button onsubmit="return validate(event)">Create User</button>
            </div>
        </form>
    </body>
</html>